In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../zara.csv',sep=';')

In [4]:
print(df.head())

   Product ID Product Position Promotion Product Category Seasonal  \
0      185102            Aisle        No         Clothing       No
1      188771            Aisle        No         Clothing       No
2      180176          End-cap       Yes         Clothing      Yes
3      112917            Aisle       Yes         Clothing      Yes
4      192936          End-cap        No         Clothing      Yes

   Sales Volume brand                                                url  \
0          2823  Zara  https://www.zara.com/us/en/basic-puffer-jacket...
1           654  Zara  https://www.zara.com/us/en/tuxedo-jacket-p0889...
2          2220  Zara  https://www.zara.com/us/en/slim-fit-suit-jacke...
3          1568  Zara  https://www.zara.com/us/en/stretch-suit-jacket...
4          2942  Zara  https://www.zara.com/us/en/double-faced-jacket...

                sku                  name  \
0   272145190-250-2   BASIC PUFFER JACKET
1  324052738-800-46         TUXEDO JACKET
2  335342680-800-44  SLIM FIT SUIT JACKET
3  328303236-420-44   STRETCH SUIT JACKET
4   312368260-800-2   DOUBLE FACED JACKET

                                         description   price currency  \
0  Puffer jacket made of tear-resistant ripstop f...   19.99      USD
1  Straight fit blazer. Pointed lapel collar and ...  169.00      USD
2  Slim fit jacket. Notched lapel collar. Long sl...  129.00      USD
3  Slim fit jacket made of viscose blend fabric. ...  129.00      USD
4  Jacket made of faux leather faux shearling wit...  139.00      USD

                   scraped_at    terms section
0  2024-02-19T08:50:05.654618  jackets     MAN
1  2024-02-19T08:50:06.590930  jackets     MAN
2  2024-02-19T08:50:07.301419  jackets     MAN
3  2024-02-19T08:50:07.882922  jackets     MAN
4  2024-02-19T08:50:08.453847  jackets     MAN

In [5]:
print(df.tail())

     Product ID Product Position Promotion Product Category Seasonal  \
247      159182   Front of Store       Yes         Clothing       No
248      199233            Aisle       Yes         Clothing       No
249      137044            Aisle        No         Clothing      Yes
250      154736   Front of Store       Yes         Clothing      Yes
251      141434   Front of Store        No         Clothing      Yes

     Sales Volume brand                                                url  \
247          1014  Zara  https://www.zara.com/us/en/basic-100-wool-swea...
248          2222  Zara  https://www.zara.com/us/en/colorblock-knit-cro...
249          2534  Zara  https://www.zara.com/us/en/hooded-technical-ja...
250          1466  Zara  https://www.zara.com/us/en/houndstooth-suit-ja...
251          2870  Zara  https://www.zara.com/us/en/bomber-jacket-p0534...

                  sku                                           name  \
247   321993245-500-2  FAUX LEATHER OVERSIZED JACKET LIMITED EDITION
248   330590505-500-2              CONTRASTING PATCHES BOMBER JACKET
249  320680326-107-39                            PATCH BOMBER JACKET
250  311292244-800-39          CROPPED BOMBER JACKET LIMITED EDITION
251  311307610-400-39                     FAUX LEATHER PUFFER JACKET

                                           description   price currency  \
247  Jacket made of technical fabric with padded in...  169.00      USD
248  Oversized jacket. Notched lapel collar and lon...  159.00      USD
249  Varsity jacket with elastic collar and long sl...   12.99      USD
250  Varsity jacket with padded interior. Rib elast...   19.90      USD
251  Jacket with lightly padded interior. Rib colla...   39.90      USD

                     scraped_at    terms section
247  2024-02-19T09:10:43.883037  jackets     MAN
248  2024-02-19T09:10:44.463883  jackets     MAN
249  2024-02-19T09:10:45.009106  jackets     MAN
250  2024-02-19T09:10:45.631804  jackets     MAN
251  2024-02-19T09:10:31.877972  jackets     MAN

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        252 non-null    int64
 1   Product Position  252 non-null    object
 2   Promotion         252 non-null    object
 3   Product Category  252 non-null    object
 4   Seasonal          252 non-null    object
 5   Sales Volume      252 non-null    int64
 6   brand             252 non-null    object
 7   url               252 non-null    object
 8   sku               252 non-null    object
 9   name              251 non-null    object
 10  description       250 non-null    object
 11  price             252 non-null    float64
 12  currency          252 non-null    object
 13  scraped_at        252 non-null    object
 14  terms             252 non-null    object
 15  section           252 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 31.6+ KB
None

In [9]:
df = df.drop(columns=['Promotion','Product Position','Seasonal','url','sku'])

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        252 non-null    int64
 1   Product Category  252 non-null    object
 2   Sales Volume      252 non-null    int64
 3   brand             252 non-null    object
 4   name              251 non-null    object
 5   description       250 non-null    object
 6   price             252 non-null    float64
 7   currency          252 non-null    object
 8   scraped_at        252 non-null    object
 9   terms             252 non-null    object
 10  section           252 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 21.8+ KB
None

In [11]:
df = df.drop(columns=['terms','description','brand'])

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        252 non-null    int64
 1   Product Category  252 non-null    object
 2   Sales Volume      252 non-null    int64
 3   name              251 non-null    object
 4   price             252 non-null    float64
 5   currency          252 non-null    object
 6   scraped_at        252 non-null    object
 7   section           252 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 15.9+ KB
None